:root {
  --mobMinContainer: 320px;
  --mobMaxContainer: 375px;
  --tabletContainer: 768px;
  --desktopContainer: 1440px;
}

.container {
  min-width: var(--mobMinContainer);
  max-width: var(--mobMaxContainer);
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: var(--tabletContainer)) {
  .container {
    max-width: var(--tabletContainer);
    padding: 0 32px;
  }
}

@media screen and (min-width: var(--desktopContainer)) {
  .container {
    max-width: var(--desktopContainer);
    padding: 0 100px;
  }
}