/* @import-normalize; */

:root {
  --tablet: "screen and (min-width: 768px)";
  --desktop: "screen and (min-width: 1440px)";

  --mobMinContainer: 320px;
  --mobMaxContainer: 375px;
  --tabletContainer: 768px;
  --desktopContainer: 1440px;

  --brand-color: #6D8434;
  --brand-hover-color: #586F1F;
  --social-hover: rgba(232, 232, 226, .2);
  --contrast-color: #E8E8E2;
  --black-color: #010101;

  --animation-duration: 0.7s;
}


body {
  font-family: 'Neue-Montreal', sans-serif;
  font-weight: 400;
  color: var(--black-color);
}

.container {
  min-width: var(--mobMinContainer);
  max-width: var(--mobMaxContainer);
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: var(--tabletContainer);
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: var(--desktopContainer);
    padding: 0 100px;
  }
}

a {
  text-decoration: none;
}

image {
  display: block;
}

ul {
  list-style: none;
}

svg {
  display: block;
}